<!-- <app-account-opening></app-account-opening> -->
<nz-layout>
  <nz-header>
    <div class="container bg-white d-flex header">
      <img
        src="https://careers.recruiteecdn.com/image/upload/q_auto,f_auto,w_400,c_limit/production/images/QK8/OAIiUT3nxtE3.jpeg"
        alt=""
        width="50px"
      />
    </div>
  </nz-header>
  <nz-content class="outer-content">
    <router-outlet></router-outlet>
    <nz-footer>
      <!-- <app-footer></app-footer> -->
    </nz-footer>
  </nz-content>
</nz-layout>

