.account-layout {
  background: #fff;
}
.inner {
  height: 100vh;
  display: block;
}
.inner .bg-image {
  background-image: url('https://www.fsmone.com.my/assets/images/account-opening/steps-bg-color.png');
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background-position: 50%;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
}
.inner .account-left {
  padding: 100px 0;
  position: absolute;
  top: 40%;
  left: 50%;
  min-width: 350px;
  transform: translate(-50%, -50%);
}
.inner .account-left h2 {
  font-size: 24px !important;
  font-weight: bold;
}
.inner .account-left p {
  font-size: 16px !important;
}
.inner .account-left .account-step {
  text-align: left !important;
}
.inner .account-right {
  padding: 20px;
}
